<div class="standard-section">
   <div class="w-container container books-container">
     <h2 class="subhead">What you get</h2>
     <h3>Boxfire Press' entire lineup of<br />
     Scifi, Fantasy, Superheroes, Cyclops People, Short Stories...</h3>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">Murder, Mayhem and Massage. A dystopian tale. Very funny. This book is in prerelease form.</div>
        <%= image_tag 'bookofash.png', class: 'book' %>
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">A gay superhero tries to get over a recent breakup. Prerelease will ship toward the end of September.</div>
       <%= image_tag 'spectrum.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">The key to earth's future is in something found on the surface of Mars.</div>
       <%= image_tag 'artifact.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">A cyclops woman tries to find herself after her family turns her into a sideshow attraction. Loosely based on Homer's The Odyssey.</div>
       <%= image_tag 'patronsaint.png', class: 'book' %>
       
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">Strange tales of absurd superheroes. A short story collection featuring Stephen Graham Jones.</div>
       <%= image_tag 'heroics.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">Hard scfi space Odyssey set in Earth's solar system in the near future.</div>
       <%= image_tag 'herebedragons.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">A short story collection all revolving around the same red scarf. Features Superhero by Justin McLachlan, soon to be a web series.</div>
       <%= image_tag 'red.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">Some kind of love story. Set in DC and written by Roll Call's Opinion Editor. Scifiish.</div>
       <%= image_tag 'trying.png', class: 'book' %>
       
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">There's a new grim reaper in town, and this is his first day on the job.</div>
       <%= image_tag 'abid.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <div class="bookofash" id="overlay">The first in the Station Series, about a secret government agency protecting a crashed alien ship off the coast of San Diego.</div>
       <%= image_tag 'timeup.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6"></div>
       <div class="w-col w-col-3 w-col-small-6"></div>
     </div>
   </div>
 </div>
 <script>
 </script>
 <div>