<div class="standard-section">
   <div class="w-container container books-container">
     <h2 class="subhead">What you get</h2>
     <h3>Boxfire Press' entire lineup of<br />
     Scifi, Fantasy, Superheroes, Cyclops People, Short Stories...</h3>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
        <%= image_tag 'bookofash.png', class: 'book' %>
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'spectrum.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'artifact.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'patronsaint.png', class: 'book' %>
       
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'heroics.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'herebedragons.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'red.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'trying.png', class: 'book' %>
       
       </div>
     </div>
     <div class="w-row books">
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'abid.png', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6 w-clearfix">
       <%= image_tag 'timeup.jpg', class: 'book' %>
       
       </div>
       <div class="w-col w-col-3 w-col-small-6"></div>
       <div class="w-col w-col-3 w-col-small-6"></div>
     </div>
   </div>
 </div>
 <div>