<div class="standard-section">
  <div class="w-container faq-container">

<p id="notice"><%= notice %></p>

<h2>Thanks <%= @order.f_name.titleize %>!</h2>
<h3>You totally rock</h3>


You'll get in email with details about how to download your books in a few minutes. If you can't find it, be sure and check your spam folder.<br />
Still need help? Email <%= mail_to "support@boxfirepress.com", "support@boxfirepress.com", subject: "Complete Collection Help" %>
<br /><br />
<%= link_to 'Home', root_path %>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6007861806633';
fb_param.value = '<%= money_no_sign(@order.amount_in_cents.to_f) %>';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6007861806633&amp;value=0&amp;currency=USD" /></noscript>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43953901-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '<%= @order.id %>',           // transaction ID - required
    'Boxfire Complete Collection',  // affiliation or store name
    '<%= money_no_sign(@order.amount_in_cents.to_f) %>',          // total - required
    '', // tax
    '', // shipping
    '', // city
    '', // state
    '', // country

  ]);


  _gaq.push(['_addItem',
    '<%= @order.id %>',           // transaction ID - required
    '<% if @order.amount_in_cents >= 2000 %>BPWYWCC2013-Bonus<% else %>BPWYWCC<% end %>',           // SKU/code - required
    'Boxfire Pay What You Want Complete Collection',        // product name
    '<% if @order.amount_in_cents >= 2000 %>w/ Bonus<% else %>w/o Bonus<% end %>',   // category or variation
    '<%= money_no_sign(@order.amount_in_cents.to_f) %>',          // unit price - required
    '1'               // quantity - required
  ]);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Google Code for Boxfire CC Checkout Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 949248060;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "UwLyCIy0mwcQvMDRxAM";
var google_conversion_value = <%= money_no_sign(@order.amount_in_cents.to_f) %>;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/949248060/?value=0&amp;label=UwLyCIy0mwcQvMDRxAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</div>
</div>