<div class="standard-section">
  <div class="w-container faq-container">

<p id="notice"><%= notice %></p>

<h2>Thanks <%= @order.f_name.titleize %>!</h2>
<h3>You totally rock</h3>


You'll get in email with details about how to download your books in a few minutes. If you can't find it, be sure and check your spam folder.<br />
Still need help? Email <%= mail_to "support@boxfirepress.com", "support@boxfirepress.com", subject: "Complete Collection Help" %>
<br /><br />
<%= link_to 'Home', root_path %>

<% if Time.now < @order.created_at + 10.seconds %>
<%= render 'conversions' %>
<% end %>

</div>
</div>